@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#main-img {
    position: relative;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    filter: brightness(0.45);
}

p {
    font-size: 25px;
}

#header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;
    text-shadow: 0px 15px 30px rgb(0 0 0 / 100%);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tabs {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.tabs {
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.tabs:hover {
    cursor: pointer;
    background-color: rgb(214, 214, 214);
    transition: all 0.2s ease;
}

.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#tabs-content {
    text-align: center;
    margin: 20px 200px;
}

#tabs-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
